<% if flash[:success] %>
    <p style="color: green"><%= flash[:success] %></p>
<% elsif @error_message.present? %>
  
  <div class="container">
    <%# <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> %>
        <script>
            alert("<%= @error_message %>");
        </script>
    <%# </div> %>
  </div>
    
<% end %>